<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon Database</title>
</head>
<body>
  <div>
      <h1>Hair Salon Database</h1>
    <h5>Contact information for @Model["client"].Name</h5><br>
    <p>Phone Number: @Model["client"].PhoneNumber</p>
    <p>Email Address: @Model["client"].EmailAddress</p>
    <p>Stylist: @Model["stylist"].Name</p><br>
    <form action="/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/delete" method="post">
      <button type="submit">Delete client</button>
    </form>
    <p><a href='/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/edit'>Edit client</a></p>
    <p><a href="/stylists/@Model["stylist"].Id">Back to client list</a></p>
    <p><a href="/">Home</a></p>
  </div>
</body>
</html>
