<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon Database</title>
</head>
<body>
  <div>
    <h1>Welcome to the Hair Salon Database</h1>
    <p><a href="/stylists">View stylists</a></p>
  </div>
</body>
</html>
